<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Bestsellers</title>
    <link rel="icon" href="../static/favicon-book.ico">
</head>
<body>    
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title is-1">Bestselling books</h1>
                <p class="subtitle"><a href="https://bookdepository.com">Book Depository</a></p>
            </div>
        </div>
    </section>
    {% if bestsellers %}
    <table class="table is-bordered is-hoverable is-fullwidth">
        <tr class="thead">
            <th>Title</th>
            <th>Author</th>
            <th>Price</th>
        </tr>
        {% for item in bestsellers %}
            <tr class="tbody">
                <td>{{ item.title }}</td>
                <td>{{ item.author }}</td>
                <td>{{ item.price }}</td>
            </tr>
        {% endfor %}
    </table>
    {% else %}
        <div class="notification is-warning has-text-centered">
            <strong>Buggar!</strong> Looks like the cheeky lads at Book Depository have changed the structure of their page so I can't scrape their precious data.
        </div>
        <p class="title is-5 has-text-centered">No bestsellers to display.</p>
    {% endif %}
</body>
<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>Bestsellers</strong> is a flasky, bulmary delight that will keep the keenest of bookworms up late into the early hours of the AM.
            Peep the code on <a href="https://github.com/ash-midgley/bestsellers">GitHub</a>. 
        </p>
    </div>
</footer>
</html>